name: Build & Release
permissions:
  contents: write
env:
  VERSION: "1.0.0"
on:
  workflow_dispatch:
    inputs:
      update_type:
        description: "What version part to increment"
        required: true
        type: choice
        default: 'patch'
        options:
          - 'major'
          - 'minor'
          - 'patch'
          - 'none'
      update_description:
        description: "Release notes (optional)"
        required: false
        type: string
jobs:
  build_release:
    environment: main_build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      actions: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Modify Version
        if: inputs.update_type != 'none'
        working-directory: ./scoreboard_death_back
        run: |
          RAW_VERSION=$(jq -r '.version' mcdreforged.plugin.json)
          if [[ ! "$RAW_VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            MAJOR=1; MINOR=0; PATCH=0
          else
            IFS='.' read -r MAJOR MINOR PATCH <<< "$RAW_VERSION"
            case "${{ github.event.inputs.update_type }}" in
              major) MAJOR=$((MAJOR + 1)); MINOR=0; PATCH=0 ;;
              minor) MINOR=$((MINOR + 1)); PATCH=0 ;;
              patch) PATCH=$((PATCH + 1)) ;;
            esac
          fi
          NEW_VERSION="$MAJOR.$MINOR.$PATCH"
          jq '.version = $NEW_VERSION' mcdreforged.plugin.json > mcdreforged.plugin.json.tmp
          mv mcdreforged.plugin.json.tmp mcdreforged.plugin.json
          echo "VERSION=$NEW_VERSION" >> "$GITHUB_ENV"

      - name: Push to Repo
        if: inputs.update_type != 'none'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add app/build.gradle.kts
          git commit -m "[skip ci] chore: bump version to ${{ env.VERSION }}" || exit 0
          git push

      - name: Get Version Only
        if: inputs.update_type == 'none'
        run: |
          RAW_VERSION=$(jq -r '.version' scoreboard_death_back/mcdreforged.plugin.json)
          echo "VERSION=$RAW_VERSION" >> "$GITHUB_ENV"

      - name: set up MCDReforged with venv
        working-directory: ./scoreboard_death_back
        run:
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install mcdreforged

      - name: Pack MCDReforged Plugin
        working-directory: ./scoreboard_death_back
        run:
          source .venv/bin/activate
          python -m mcdreforged pack

      - name: Upload MCDReforged Plugin File
        uses: actions/upload-artifact@v4
        with:
          name: scoreboard_death_back
          path: scoreboard_death_back/*.mcdr

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          body: |
            # v${{ env.VERSION }}            
            ${{ inputs.update_description }}
          

          draft: false
          prerelease: false
          append_body: true
          generate_release_notes: true
          files: "scoreboard_death_back/*.mcdr"