name: MCDReforged Plugin CI
permissions:
  contents: read
on:
  push:
    branches: [ "main" ]
    paths:
      - "scoreboard_death_back/**"
      - ".github/workflows/push-ci-build.yml"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set up MCDReforged with venv
        run: |
          cd scoreboard_death_back
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install mcdreforged

      - name: Pack MCDReforged Plugin
        run: |
          cd scoreboard_death_back
          source .venv/bin/activate
          python -m mcdreforged pack

      - name: Upload MCDReforged Plugin File
        uses: actions/upload-artifact@v4
        with:
            name: scoreboard_death_back
            path: scoreboard_death_back/*.mcdr